tmp/
*.test-result

#Игнорировать файл если он с расширением dll лежит в папке bin, на любом уровне вложенности
/bin/**/*.dll

#Игнорировать файл с расширением dll если он лежит на первом уровне вложения любой папки проекта
/*/*.dll

#Игнорировать файлы с именем начинающимся на G-
G-*

*.code